# -----------------------------
# Namespace
# -----------------------------
apiVersion: v1
kind: Namespace
metadata:
  name: springboot
---
# -----------------------------
# Deployment
# -----------------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: besthospital1
  namespace: springboot
  labels:
    app: besthospital1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: besthospital1
  template:
    metadata:
      labels:
        app: besthospital1
    spec:
      containers:
name: besthospital1
          image: trialo2zwg1.jfrog.io/docker-trial/master:latest    imagePullPolicy: Always
          ports:
containerPort: 8081
---
# -----------------------------
# Service
# -----------------------------
apiVersion: v1
kind: Service
metadata:
  name: besthospital1
  namespace: springboot
spec:
  selector:
    app: besthospital1
  ports:
protocol: TCP
      port: 8081
      targetPort: 8081
  type: ClusterIP
