apiVersion: apps/v1
kind: Deployment
metadata:
  name: besthospital
  namespace: springboot
  labels:
    app: besthospital
spec:
  replicas: 1
  selector:
    matchLabels:
      app: besthospital
  template:
    metadata:
      labels:
        app: besthospital
    spec:
      containers:
        - name: besthospital
          image: trialo2zwg1.jfrog.io/docker-trial/master:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8081
---
apiVersion: v1
kind: Service
metadata:
  name: besthospital
  namespace: springboot
spec:
  selector:
    app: besthospital
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
  type: ClusterIP
